/* .jumbotron-fluid {
    background-image:url(../banner2.png); 
    /* font-family: 'Shift', sans-serif;
    font-weight: bold; */
    /* margin-top: 12px;
    height:100%;
    width: 100%;
  
  }  */



/* NAV BAR  */
.navbar-brand {
    font-family: 'Lato', sans-serif;
    font-style: bold;
    font-size: 1.5vw;
    font-weight: 700;

}
.nav-link {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.3vw;

}



#map-container1{
    height: 350px;
}

.hero {
    position: relative;
    height:0;
    padding-bottom: 21%;
    background: black;
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.3);
    /* background-image:url("https://datajobheroku.s3.amazonaws.com/banner2.png"); */
    background-image:url("../banner2.png");
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
  }


  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .hero {
        padding-bottom: 50%; 

    }

    .display-3 {
        padding-top: 20% !important;
    }

    #map-container1{
        height: 30% !important ;
    }

    #title-container{
        position: relative;
    }
    
    #question-container{
        position: relative;
    }
  }

  @media only screen and (min-width: 1768px) {
    
    #map-container1{
        height: 600px !important ;
    }
  }

 

/* header title */
.display-3{
    font-size:4vw;
    
    padding-top: 10%;
    font-family: 'Lato',sans-serif;
    font-weight: 700;
   
    color: #ffffff;
    text-align: center;
}


 /* header subtitle */
h2.lead {
    font-family: 'Lato',sans-serif;
    color: #ffffff;
    font-size:2vw;
    font-weight:300;
    font-style: italic;
    }





/* machine learning title  */


h1 {position: center;
    font-size:3.5vw;
    font-family: 'Lato',sans-serif;
    color: #ffffff;
    font-weight: 700;
}




/* machinelearning subtitle */
h2 {position: center;
    padding-top: 0vw;
    font-family: 'Lato',sans-serif;
    color: #ffffff;
    font-size:1.5vw;
    text-align: center;
    font-style: italic;
    font-weight: 400;

}

h5 {
    font-size:3vw;
    text-align: center;
    padding-top: 50px;
    font-family: 'Lato',sans-serif;
    color: #ffffff;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    text-align: center;



}



.main_background{
    background-color: #ff9900;
    /* padding: 0%; */
    /* margin-left: 300; */
}

/* Machine Learning Row */

#machine-learning-row{
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 300;
}

#machine-learning-output{
    background-color: #B82E2E;

    height: 30vw;
    width: 50vw;
    font-size: x-large;
    text-align: center;
    margin-left: auto;
    align-items: center;
}


#machine-learning-label{
    margin-left: auto;
    text-align: center;
    align-items: center
}



#map-col{
    height: 500px;
    background-color: rgb(255, 255, 255);
   
}


/* -----leaf let css */


/* team.html page */

.container {
    margin-top: 100px;
    padding-top:50px;
}



